html {
    box-sizing: border-box;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
   background-color: #33B5E5; /* Blue */
   color: white;
   border: none;
   border-radius: 2px;
   padding: 10px;
   -moz-box-shadow:     2px 2px 2px #91A691;
   -webkit-box-shadow:  2px 2px 2px #91A691;
   box-shadow:          2px 2px 2px #91A691;

}

.fa-thumbs-up {
  font-size: 55px;
  margin-bottom: 15px;
  far fa-thumbs-up;
}
#congrats {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

#congrats.container {
  padding: 70px 0;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.blue{
  text-align: center;
  color:#33B5E5;

}
p.blue{
  font-size: 1em;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 100%;
    max-width: 700px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

#overlay.overlay {
  font-size: 1rem;
}

.card {
  margin: 1%;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    font-size: 1rem;
}

.deck .card.show{
    font-size: 1rem;
}

.deck .card.match {
    cursor: default;
    font-size: 1rem;
    -webkit-transition: background-color 0.5s ease-out; /* Safari */
    transition: background-color 0.5s ease-out;
    background-color: #FFA500;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 445px;
    margin-bottom: 10px;
    font-size: .8em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media screen and (min-width: 651px) {
  .score-panel {
      font-size: 1.1em;
      width: 370px;
  }
  .deck .card.open {
      font-size: 2rem;
  }

  .deck .card.show{
      font-size: 2rem;
  }

  .deck .card.match {
      font-size: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .score-panel {
      font-size: 1.1em;
      width: 370px;
  }
  .deck .card.open {
      font-size: 1.7rem;
  }

  .deck .card.show{
      font-size: 1.7rem;
  }

  .deck .card.match {
      font-size: 1.7rem;
  }
  .deck{
    height: 100%;
    background: inherit;
    box-shadow: inherit;
    }
}
@media screen and (max-width: 610px) {
  .score-panel {
      font-size: 1em;
      width: 370px;
  }
  .deck .card.open {
      font-size: 2rem;
  }

  .deck .card.show{
      font-size: 2rem;
  }

  .deck .card.match {
      font-size: 2rem;
  }

.deck .card {
  width: 100px;
  height: 100px;
  }
  ul.deck {
    font-size: .01rem;
  }
}
@media screen and (max-width: 520px) {

  .deck .card {
    width: 80px;
    height: 80px;
    }

  .score-panel {
      font-size: .8em;
      width: 370px;
  }

  .deck .card.open {
      font-size: 1.5rem;
  }

  .deck .card.show{
      font-size: 1.5rem;
  }

  .deck .card.match {
      font-size: 1.5rem;
  }


}
@media screen and (max-width: 412px) {

  .deck .card.open {
      font-size: 1rem;
  }

  .deck .card.show{
      font-size: 1rem;
  }

  .deck .card.match {
      font-size: 1rem;
  }

  h1 {
    font-size: 1.3em;
  }

  .deck .card {
    width: 65px;
    height: 65px;
    }
    .score-panel {
      width: 300px;
      font-size: .8em;
    }
}
@media screen and (max-width: 346px) {

  .score-panel {
    width: 250px;
  }

  .deck .card {
    width: 55px;
    height: 55px;
    }
}
